{% extends 'blog/base.html' %}

{% load static %}
{% block title %}
Login
{% endblock %}

{% load tailwind_filters %}

{% block content %}
<div class="flex items-start w-auto mx-64 mt-32">
     <div class="w-1/2 ">
        <img src="{% static 'images/books.jpg' %}" class="bg-cover pr-10"  alt="books photo">
     </div>
     <div class="w-1/2">   
     <p class="text-2xl font-bold text-red-600 pb-6 text-center">Login</p>
         <form method="POST" action="{% url 'members:login' %}">
                    {% csrf_token %}
                    {{ form |crispy }}

        <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-semibold my-4 py-2 px-4 border border-red-600 rounded">
          Login
        </button> 
        </form> 
    </div>
</div>

{% endblock %}
